@model IEnumerable<FilmCritique.Entities.Model.Concrete.Movie>

@* @{
    ViewData["Title"] = "Admin Dashboard";
} *@

<style>
    .card {
        max-width: 32%;
        min-width: 32%;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .card-img-top {
        width: auto%;
        height: 65%;
        object-fit: cover;
    }

    .card-body {
        height: auto;
        overflow: hidden;
    }

    .card-footer {
        font-size: 0.9rem;
    }

    .card-deck {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .admin-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .admin-actions a {
            margin-bottom: 5px;
            width: 100%;
        }
</style>

<div class="container mt-4">
@*     <h2>Admin Dashboard</h2>
 *@    <div class="card-deck">
        @foreach (var movie in Model)
        {
            <div class="card border-2 shadow border-secondary">
                <img src="@($"/images/moviePhotos/{movie.PhotoUrl}")" class="card-img-top" alt="@movie.MovieName" />
                <div class="card-body border-top shadow">
                    <h5 class="card-title">@movie.MovieName</h5>
                    <p class="card-text">@movie.Description</p>
                    <div class="admin-actions">
                        <a asp-action="Details" asp-controller="Movie" asp-route-id="@movie.Id" class="btn btn-primary">Details</a>
                        <a asp-action="Edit" asp-controller="Movie" asp-route-id="@movie.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-controller="Movie" asp-route-id="@movie.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    Release Date: @movie.ReleaseDate.ToString("MMMM dd, yyyy")<br>
                    Duration: @movie.Duration minutes<br>
                    Rating: @movie.AdminRating
                </div>
            </div>
        }
    </div>
</div>
